# 1) Ignore everything in the root folder
/*

# 2) Un-ignore this root .gitignore file (so include this root .gitignore)
!.gitignore

# 3) Un-ignore (i.e. include) only the following subfolders
!/001-fastapi-backend/
!/002-nextjs-frontend/
